# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

.DS_Store
export-import-4TU-private-dataset.odt
export-import-4TU-private-dataset.pdf
HBO-Archief.md
import-4TU-private-dataset.odt
notes.txt
parse.py
PortDataverse-Dataverse-pact.json
PortFigshare-Figshare-pact.json
PortZenodo-Zenodo-pact.json
reformat.json
requirements-to-upgrade.txt
ScieboMonthlyJune.md
SRDC-Update.md
Update-2024-09-05.md
Update-2024-09-26.md
local/test.json
local/nextcloud-minikube/charts/all/charts/jaeger-0.34.0.tgz
local/nextcloud-minikube/charts/all/charts/redis-16.13.2.tgz
local/nextcloud-minikube/charts/all/charts/redis-cluster-7.6.4.tgz
local/nextcloud-minikube/charts/jaeger/charts/cassandra-0.15.2.tgz
local/nextcloud-minikube/charts/jaeger/charts/elasticsearch-7.8.1.tgz
local/nextcloud-minikube/charts/jaeger/charts/kafka-0.20.6.tgz
local/nextcloud-minikube/charts/redis/charts/common-1.16.0.tgz
local/nextcloud-minikube/charts/redis-cluster/charts/common-1.16.0.tgz
local/srdc-redis/charts/all/charts/redis-16.13.2.tgz
local/srdc-redis/charts/all/charts/redis-cluster-7.6.4.tgz
local/srdc-redis/charts/redis/charts/common-1.16.0.tgz
local/srdc-redis/charts/redis-cluster/charts/common-1.16.0.tgz
test-datahugger/test-datahugger.py
test-datahugger/data/__init__.py
test-datahugger/data/.appveyor.yml
test-datahugger/data/.coveragerc
test-datahugger/data/.flake8
test-datahugger/data/.gitignore
test-datahugger/data/.travis.yml
test-datahugger/data/base.py
test-datahugger/data/ci.yml
test-datahugger/data/CITATION
test-datahugger/data/CODE_OF_CONDUCT.md
test-datahugger/data/FUNDING.yml
test-datahugger/data/LICENSE.txt
test-datahugger/data/meta.ini
test-datahugger/data/mypy.ini
test-datahugger/data/pyproject.toml
test-datahugger/data/pytest.ini
test-datahugger/data/README.md
test-datahugger/data/search_zenodo.py
test-datahugger/data/setup.cfg
test-datahugger/data/setup.py
test-datahugger/data/test_all.py
test-datahugger/data/upload_zenodo.py
test-datahugger/data/upload.py
variables-configuration/demo-acc-vars.yml
variables-configuration/demo-prd-vars.yml
variables-configuration/demo2.yaml
variables-configuration/general-vars.yml
variables-configuration/hsleiden-vars.yml
variables-configuration/hsutrecht-vars.yml
variables-configuration/hva-vars.yml
variables-configuration/knaw-vars.yml
variables-configuration/researchdrive.surfsara.nl-vars.yml
variables-configuration/tilburg-vars.yml
variables-configuration/uva-vars.yml
variables-configuration/vu-vars.yml
