<p style='color: red;'>Failed to load component: {{name}}.</p>
<script>
    // disable all secondary buttons, so user will not be able to proceed
    $( ".btn-secondary" ).prop('disabled', true);

    setTimeout(function(){
        // disable all secondary buttons, so user will not be able to proceed
        $( ".btn-secondary" ).prop('disabled', true);
    }, 1000);

    setTimeout(function(){
        // disable all secondary buttons, so user will not be able to proceed
        $( ".btn-secondary" ).prop('disabled', true);
    }, 2000);

    setTimeout(function(){
        // disable all secondary buttons, so user will not be able to proceed
        $( ".btn-secondary" ).prop('disabled', true);
    }, 3000);
</script>