<p style='color: red;'>Failed to load component: {{name}}.</p>
<script>
    // disable all action buttons, so user will not be able to proceed
    $( "#action-button" ).prop('disabled', true);

    setTimeout(function(){
        // disable all action buttons, so user will not be able to proceed
        $( "#action-button" ).prop('disabled', true);
    }, 1000);

    setTimeout(function(){
        // disable all action buttons, so user will not be able to proceed
        $( "#action-button" ).prop('disabled', true);
    }, 2000);

    setTimeout(function(){
        // disable all action buttons, so user will not be able to proceed
        $( "#action-button" ).prop('disabled', true);
    }, 3000);
</script>