{% if doi_metadata | length > 0 %}
<div class="table-responsive-sm mt-3 mb-3">
    <table class="table table-striped table-hover table-sm table-bordered">
        <tbody>
            {% for item in doi_metadata %}
            <tr>
                <td><b>{{ item | upper }}</b></td>
                {% if item == 'abstract' %}
                <td>{{ doi_metadata[item] | striptags }}</td>
                {% else %}
                <td>{{ doi_metadata[item]}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Metadata on the dataset from this url could not be retrieved: <a href="{{ data.url }}" target="_blank" rel="noopener noreferrer">{{ data.url }}</a>.</p>
{% endif %}