{% extends "base.html" %}

{% from "macros.html" import load_async with context %}

{% block title %}Import{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- ### BEGIN HELPER LOGIC ### -->
{% if session.connected==True %}
    {% if session.query_status==None or session.query_status=='ready' %}
        {% set vars = {'folder_exists_message' : False, 'url_exists_message' : False} %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message=='Data folder already exists on your drive. Please check the box if you want to use this folder.' %}
                        {% if vars.update({'folder_exists_message': True}) %} {% endif%}
                    {% endif %}
                    {% if message=='Data has already been imported from this url. Please check the box if you want to import again from this url.' %}
                        {% if vars.update({'url_exists_message': True}) %} {% endif%}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}
{% endif %}
<!-- END BEGIN HELPER LOGIC ### -->

{% if not preview %}
{% if session.query_status==None or session.query_status=='ready' and session.process==None%}
<h1>Import</h1>
{% else %}
<h1>{{ start_h1_processing_import | default("Processing import") | safe }}</h1>
{% endif %}
<p>{{ start_reference4 | default("You have set / been assigned the following reference") | safe }}: <b>{{ session.projectname }}</b></p>
{% endif %}

{% if session.connected==True %}
{% if session.query_status==None or session.query_status=='ready' and session.process==None %}
<form method="post" action="/download" class="needs-validation mt-3 mb-3" novalidate>
    <div {% if preview %} hidden {% endif %}>
        <!-- async loading repo selection -->
        {{ load_async("repo_selection", "/repo-selection") }}
        <!-- end async -->
        
        <div class="form-group mt-3 mb-3">
            <label for="Url">Url: </label>
            <input type="url" pattern="https://.*" class="form-control" name="url" value="{{session.url}}"
                placeholder='{{ download_preview_url | default("A preview url") | safe }}' required>
            <div class="invalid-feedback">
                {{ download_preview_url_feedback | default("Please fill out a preview url to a research dataset") | safe }}.
            </div>
        </div>

        {% if (vars.url_exists_message==True or session.accept_url_in_history==True) and check_accept_url_in_history_first!=None %}
        <div class="form-check mt-3 mb-3">
            <input class="form-check-input" type="checkbox" value="" {% if session.accept_url_in_history %} checked {%
                endif %} id="flexCheckUrl" name="accept_url_in_history" required>
            <label class="form-check-label" for="flexCheckUrl">
                {{ download_check_urlinhistory | default("Check this to retrieve even if this url is in your history of imports.") | safe }}
            </label>
        </div>
        {% endif %}
        <div class="form-group mt-3 mb-3">

            <h2>{{ download_h2_import_folder | default("Import Data Folder Path") | safe }}</h2>
            <!-- async loading folder paths -->
            {{ load_async("folderpaths", "/folder-paths/down", 55000) }}
            <!-- end async -->

            <input type="text" class="form-control" name="folder" value="{{session.folder}}" placeholder='{{ download_placeholder | default("New Folder (optional)") | safe }}'
            pattern="[\--_-A-Za-z0-9]+" >

            <div class="invalid-feedback">
                {{ download_folder_feedback | default("Please fill out the folder name where you want store the session.") | safe }}
            </div>

        </div>

        {% if (vars.folder_exists_message==True or session.accept_folder_exist==True) and check_accept_folder_first!=None
        %}
        <div class="form-check mt-3 mb-3">
            <input class="form-check-input" type="checkbox" value="" {% if session.accept_folder_exist %} checked {% endif
                %} id="flexCheckFolder" name="accept_folder_exist" required>
            <label class="form-check-label" for="flexCheckFolder">
                {{ download_check_folder_feedback | default("Check this to retrieve even if this folder already exists on your drive. The data will be added to the folder.") | safe }}
            </label>
        </div>
        {% endif %}
    </div>

    {% if not preview %}

    <!-- ### BEGIN PREVIEW BUTTON -->
    <input type="text" name="preview" value="true" hidden>
    <button type="submit" id="action-button" class="btn btn-secondary">Preview Import</button>
    <!-- ### END PREVIEW BUTTON -->

    {% else %}

    <!-- ### BEGIN PREVIEW ### -->
    <h1>Import - Preview</h1>
    <p>{{ start_reference4 | default("You have set / been assigned the following reference") | safe }}: <b>{{ session.projectname }}</b></p>

    <!-- async loading check connection -->
    {% set checkconnectionurl = '/check-connection/' + session.repo %}
    {{ load_async("check_connection", checkconnectionurl) }}
    <!-- end async -->
    
    <h2>{{ download_h2_drive_storage | default("Drive Storage") | safe }}</h2>
    <!-- async loading quote_text -->
    {{ load_async("quota_text", "/quota-text") }}
    <!-- end async -->

    <h2>{{ download_h2_data_folder | default("Data Folder") | safe }}</h2>
    <!-- async loading folder content -->
    {{ load_async("foldercontent", "/folder-content/down", 55000) }}
    <!-- end async -->

    <h2>{{ download_h2_data_set | default("Data Set") | safe }}</h2>

    <!-- Needs specific implementation for the private repo choosen-->

    {% if session.repo == 'datahugger' %}

    <!-- async loading metadata -->
    {{ load_async("doi_metadata", "/doi-metadata") }}
    <!-- end async -->

    {% else %}

    <!-- async loading metadata -->
    {{ load_async("private_metadata", "/private-metadata") }}
    <!-- end async -->

    {% endif %}

    <!-- async loading repocontent -->
    {{ load_async("repocontent", "/repocontent") }}
    <!-- end async -->

    <!-- ### END PREVIEW ### -->

    {% endif %}
</form>

{% else %}

<form id="cancel_process" action="/cancel_download" method="post">
    <input type="text" name="cancel" value="true" hidden>
    <input type="text" name="preview" value={{preview}} hidden>
    <input type="text" name="check_accept_folder_first" value={{check_accept_folder_first}} hidden>
    <input type="text" name="check_accept_url_in_history_first" value={{check_accept_url_in_history_first}} hidden>
    <button type="submit" class="btn btn-secondary">{{ download_cancel_process | default("Cancel Process") | safe }}</button>
    <div class="form-check mt-3 mb-3">
        <input class="form-check-input" id="flexCheckCancel" type="checkbox" value="" name="checked" required>
        <label class="form-check-label" for="flexCheckCancel">
            {{ download_check_cancel | default("Check to confirm cancelation.") | safe }}
        </label>
    </div>
</form>


<!-- ### BEGIN STATUS TABLE ### -->
<div id="status">
    <div class="position-absolute top-50 start-50 translate-middle"
        style="width: 100%; height: 100%; background-color: overflow: hidden;">
        <div class="spinner-border position-absolute top-50 start-50 translate-middle" role="status">
            <span class="visually-hidden">Connecting...</span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        setInterval(() => {
            $("#status").load("/status");
        }, 2000);
    });
</script>
<!-- ### END STATUS TABLE ### -->

{% endif %}
{% else %}

<!-- BEGIN NOT CONNECTED -->
<p>Please connect first.</p>
<a href="/connect"><button class="btn btn-secondary">{{ base_connect | default("Connect") | safe }}</button></a>
<!-- END NOT CONNECTED -->

{% endif %}

{% endblock %}

{% block script %}
<script>
    form_validate();
</script>
{% endblock %}