{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}


<!-- BEGIN AUTOCONNECT -->
{% if not data.connected and not data.failed %}
<script>
    var a = document.createElement('a');
    a.href= '{{ data.srdc_url }}/login';
    document.body.appendChild(a);
    a.click();
</script>
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Connecting...</span>
    </div>
</div>
{% endif %}
<!-- END AUTOCONNECT -->

<!-- BEGIN WELCOME -->
<h1>{{ home_title | default("Welcome to SURF Research Data Connector") | safe }}</h1>
<h4>{{ home_subtitle | default("Your extension for connecting research data") | safe }}</h4>
<p>
    {{ home_paragraph1 | default("Surf Research Data Connector (SRDC) is an extension that will allow you to easily import data from and export data to different research data publication
    service repositories. Some of the major repositories that are supported are: Dataverse, Zenodo, Figshare, and OSF.") | safe }}
</p>

<p>{{ home_repos | default("The following repositories are available in your SRDC:") | safe }}</p>
<ul>
    {% for service in data.registered_services %}
    {% if service not in data.hidden_services %}
    {% if service == 'data4tu'%}
    <li>4TU.ResearchData</li>
    {% else %}
    <li>{{service | capitalize}}</li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
<p>

<h4>{{ home_h4_1 | default("Export to connected repositories") | safe }}</h4>
<p>{{ home_paragraph2 | default("This extension enables you to export data to your connected repositories.") | safe }}</p>

<h4>{{ home_h4_2 | default("Import from connected private repositories") | safe }}</h4>
<p>{{ home_paragraph3 | default("This extension also allows you to import data from your private repositories. This enables you to import your own data or data that has been shared with you on these repositories.") | safe }}</p>

<!-- BEGIN DATAHUGGER -->
{% if 'datahugger' not in data.hidden_services or data.showall %}
<h4>{{ home_h4_3 | default("Import open data") }}</h4>
<p>{{ home_paragraph4 | default('
    In the backend the SRDC uses <a href="https://j535d165.github.io/datahugger/" target="new">Datahugger</a> to <b>import open data</b>.
    To see which repositories are currently supported for importing open data, please check out: <a
        href="https://j535d165.github.io/datahugger/repositories/" target="new">the Datahugger Supported Repositories
        page</a>.') | safe }}
</p>
{{ home_paragraph5 | default("
<p>Search for open Research Data in most Datahugger supported repositories using <a href='https://cse.google.com/cse?cx=762961cffaa1c4546' target='_blank'>Google</a>.</p>
<p>Search for open Research Data in most Datahugger supported dataverse repositories using <a href='https://www.re3data.org' target='_blank'>re3data</a>.</p>
") | safe }}

<p><a href='/start?homeshow=True'><button class='btn btn-secondary'>{{ home_get_started | default("Get started here!") | safe }}</button></a></p>

{% endif %}
<!-- END DATAHUGGER -->

<!-- END WELCOME -->

   
<!-- BEGIN NC LOGIN -->
{% if poll_login %}
{{ data.poll_info.poll_login }}
<script>
    var a = document.createElement('a');
    a.href= '{{ data.poll_info.poll_endpoint }}';
    a.target = 'popup';
    document.body.appendChild(a);
    a.click();
</script>
{% endif %}
<!-- END NC LOGIN -->

{% endblock %}

{% block script %}
<script>
    form_validate();
</script>
{% endblock %}