{% from "macros.html" import load_async with context %}
<h2>{{ metadata_h2 | default("Metadata") | safe }}</h2>
{% if data.repo == 'irods' %}
<p>{{ metadata_greyed_out | default("The greyed-out fields cannot be filled out here. Instead, default values will be sent. You can change these field values in the service portal.") | safe }}</p>
<p>{{ metadata_customized | default("These are customized <b>required</b> metadata fields for") | safe }} <b>Irods</b>.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Author">{{ metadata_label_author | default("Author") | safe }}</label>
        <input type="text" class="form-control" name="author" value="{{data.metadata.author}}" placeholder="{{ metadata_placeholder_author | default('Author of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_author | default("Please fill out the author for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Affiliation">{{ metadata_label_affiliation | default("Affiliation") | safe }}</label>
        <input type="text" class="form-control" name="affiliation" value="{{data.metadata.affiliation}}" placeholder="{{ metadata_placeholder_affiliation | default('Affiliation of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <small>{{ metadata_small_author | default("The affiliation can be used to formulate the citation, so consider the prominence of the role.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_affiliation | default("Please fill out the affiliation for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" required {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>
<!-- required but disabled fields for irods -->
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Discipline">Discipline</label>
        <input type="text" class="form-control" placeholder="Discipline of the project" disabled>
        <small>Please select the value for this field in the Irods portal.</small>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Language">Language</label>
        <input type="text" class="form-control" placeholder="Language of the project" disabled>
        <small>Please select the value for this field in the Irods portal.</small>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Tag">Tag</label>
        <input type="text" class="form-control" placeholder="Tag of the project" disabled>
        <small>Please select the value for this field in the Irods portal.</small>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Retention period">Retention period</label>
        <input type="text" class="form-control" placeholder="Retention period of the project" disabled>
        <small>Please select the value for this field in the Irods portal.</small>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Data classification">Data classification</label>
        <input type="text" class="form-control" placeholder="Data classification of the project" disabled>
        <small>Please select the value for this field in the Irods portal.</small>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="License">{{ metadata_label_license | default("License") | safe}}</label>
        <input type="text" class="form-control" placeholder="{{ metatdata_placeholder_license | default('License of the project') | safe }}" disabled>
        <small>Please select the value for this field in the Irods portal.</sma{{ metadata_customized | default("These are customized <b>required</b> metadata fields for") | safe }}ll>
    </div>
</div>

<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Data package access">Data package access</label>
        <input type="text" class="form-control" placeholder="Data package access of the project" disabled>
        <small>Please select the value for this field in the Irods portal.</small>
    </div>
</div>

{% elif data.repo == 'dataverse' or data.repo == 'datastation' %}
<p>{{ metadata_customized | default("These are customized <b>required</b> metadata fields for") | safe }} <b>{{data.repo}}</b>.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Author">{{ metadata_label_author | default("Author") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
        <input type="text" class="form-control" name="author" value="{{data.metadata.author}}" placeholder="{{ metadata_placeholder_author | default('Author of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_author | default("Please fill out the author for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Affiliation">{{ metadata_label_affiliation | default("Affiliation") | safe }} {{ metadata_optional | default("(optional)") | safe }}</label>
        <input type="text" class="form-control" name="affiliation" value="{{data.metadata.affiliation}}" placeholder="{{ metadata_placeholder_affiliation | default('Affiliation of the project') | safe }}" {% if disabled %} disabled {% endif %}>
        <small>{{ metadata_small_author | default("The affiliation can be used to formulate the citation, so consider the prominence of the role.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_affiliation | default("Please fill out the affiliation for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Subject">{{ metadata_label_subject | default("Subject") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
         <select class="form-select" name="subject" required {% if disabled %} disabled {% endif %}>
            <option value="{{data.metadata.subject}}">{{data.metadata.subject}}</option>
            {% for subject in dataverse_subjects %}
            <option value="{{subject}}">{{subject}}</option>
            {% endfor %}
         </select>
        <div class="invalid-feedback">
            {{ metadata_feedback_subject | default("Please fill out the subject for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" required {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Contact name">{{ metadata_label_contact | default("Contact name") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
        <input type="text" class="form-control" name="contact_name" value="{{data.metadata.contact_name}}" placeholder="{{ metadata_placeholder_contact | default('Name of the contact person of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_contact | default("Please fill out the name of the contact person for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Contact email">{{ metadata_label_contactemail | default("Contact email") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
        <input type="email" class="form-control" name="contact_email" value="{{data.metadata.contact_email}}" placeholder="{{ metadata_placeholder_contactemail | default('Email of the contact person of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_contactemail | default("Please fill out the email of the contact person for your project.") | safe }}
        </div>
    </div>
</div>

<!-- DANS Relation -->
{% if data.repo == 'datastation' %}
<h3>{{ metadata_h3_rights | default("Rights Metadata") | safe }}</h3>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Rights holder name">{{ metadata_label_rights | default("Rights holder") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
        <input type="text" class="form-control" name="dansRights_holder" value="{{data.metadata.dansRights_holder}}" placeholder="{{ metadata_placeholder_rights | default('Name of the rights holder of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_rights | default("Please fill out the name of the rights holder for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Language">{{ metadata_label_language | default("Language") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
         <select class="form-select" name="dansRights_language" required {% if disabled %} disabled {% endif %}>
            <option value="{{data.metadata.dansRights_language}}">{{data.metadata.dansRights_language}}</option>
            {% for language in dansRights_languages %}
            <option value="{{language}}">{{language}}</option>
            {% endfor %}
         </select>
        <div class="invalid-feedback">
            {{ metadata_feedback_language | default("Please fill out the metadata language for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="PersonalData">{{ metadata_label_personal_data | default("Personal data present?") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
         <select class="form-select" name="dansRights_personal" required {% if disabled %} disabled {% endif %}>
            <option value="{{data.metadata.dansRights_personal}}">{{data.metadata.dansRights_personal}}</option>
            {% for personal in dansRights_personal_data %}
            <option value="{{personal}}">{{personal}}</option>
            {% endfor %}
         </select>
        <div class="invalid-feedback">
            {{ metadata_feedback_personal_data | default("Please fill out the personal data present setting for your project.") | safe }}
        </div>
    </div>
</div>
{% endif %}
<!-- END DANS Relation -->

<!-- DANS Audience -->
{% if data.repo == 'datastation' %}
    {% if disabled and data.metadata.dans_audience_uri %}
    <div class="row">
        <h3>{{ metadata_h3_relation | default("Relation Metadata") | safe }}</h3>
        <div class="form-group col-6 mt-3 mb-3">
            <label for="Audience">{{ metadata_label_audience | default("You selected the following audience") | safe }}</label>
                <a href="{{ data.metadata.dans_audience_uri }}" target="_new">{{ data.metadata.dans_audience_uri }}</a>
        </div>   
    </div>
    {% else %}
    <div class="row">
        <h3>{{ metadata_h3_relation | default("Relation Metadata") | safe }}</h3>
        <div class="form-group col-6 mt-3 mb-3">
            <label for="Lookup-audience">{{ metadata_lookup | default("Lookup Audience") | safe }} {{ metadata_required | default("(required)") | safe }}</label>
            <select class="form-select" name="dans_audience_uri" required>
                {% for r in dansRelationMetadata_audiences %}
                <option value={{r.uri}}>{{ r.prefLabel }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                {{ metadata_feedback_audience | default("Please select the audience for your project.") | safe }}
            </div>
        </div>
    </div>
        
    {% endif %}
{% endif %}
<!-- END DANS Audience -->

{% elif data.repo == 'osf' %}
<p>{{ metadata_greyed_out | default("The greyed-out fields cannot be filled out here. Instead, default values will be sent. You can change these field values in the service portal.") | safe }}</p>
<p>{{ metadata_customized | default("These are customized <b>required</b> metadata fields for") | safe }} <b>Osf</b>.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Author">{{ metadata_label_author | default("Author") | safe }}</label>
        <input type="text" class="form-control" name="author" value="" placeholder="{{ metadata_placeholder_author | default('Author of the project') | safe }}" disabled>
        <small>{{ metadata_small_portal_author | default("Please fill out the author for your project in the repo's portal.") |safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_author | default("Please fill out the author for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Affiliation">{{ metadata_label_affiliation | default("Affiliation") | safe }}</label>
        <input type="text" class="form-control" name="affiliation" value="" placeholder="{{ metadata_placeholder_affiliation | default('Affiliation of the project') | safe }}" disabled>
        <small>{{ metadata_small_portal_author | default("Please fill out the affiliation for your project in the repo's portal.") | safe }}</small>
        <small>{{ metadata_small_author | default("The affiliation can be used to formulate the citation, so consider the prominence of the role.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_affiliation | default("Please fill out the affiliation for your project.") | safe }}
        </div>
    </div>   
</div>

<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" required {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Tags">{{ metadata_label_tags | default("Tags") | safe }}</label>
        <input type="text" class="form-control" name="tags" value="{{data.metadata.tags}}" placeholder="{{ metadata_placeholder_tags | default('Tags of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <small>{{ metadata_tags_seperate | default("Seperate your tags by commas.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_tags | default("Please fill out the tags for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Categories">{{ metadata_label_categories | default("Categories") | safe }}</label>
        <input type="text" class="form-control" name="categories" value="{{data.metadata.categories}}" placeholder="{{ metadata_placeholder_categories | default('Categories of the project') | safe }}" disabled>
        <small>{{ metadata_small_categories | default("Please fill out the categories for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_categories | default("Please fill out the categories for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="License">{{ metadata_label_license | default("License") | safe}}</label>
        <input type="text" class="form-control" name="license" value="{{data.metadata.license}}" placeholder="{{ metatdata_placeholder_license | default('License of the project') | safe }}" disabled >
        <small>{{ metadata_small_license | default("Please fill out the license for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_license | default("Please fill out the license for your project.") | safe }}
        </div>
    </div>
</div>

{% elif data.repo == 'zenodo' %}
<p>{{ metadata_greyed_out | default("The greyed-out fields cannot be filled out here. Instead, default values will be sent. You can change these field values in the service portal.") | safe }}</p>
<p>{{ metadata_customized | default("These are customized <b>required</b> metadata fields for") | safe }} <b>Zenodo</b>.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Author">{{ metadata_label_author | default("Author") | safe }}</label>
        <input type="text" class="form-control" name="author" value="{{data.metadata.author}}" placeholder="{{ metadata_placeholder_author | default('Author of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_author | default("Please fill out the author for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Affiliation">{{ metadata_label_affiliation | default("Affiliation") | safe }}</label>
        <input type="text" class="form-control" name="affiliation" value="{{data.metadata.affiliation}}" placeholder="{{ metadata_placeholder_affiliation | default('Affiliation of the project') | safe }}" required {% if disabled %} disabled {% endif %}>
        <small>{{ metadata_small_author | default("The affiliation can be used to formulate the citation, so consider the prominence of the role.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_affiliation | default("Please fill out the affiliation for your project.") | safe }}
        </div>
    </div>   
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Publication date">Publication date</label>
        <input type="date" class="form-control" name="publication_date" value="{{data.metadata.publication_date}}" placeholder="Publication date of the project" required {% if disabled %} disabled {% endif %}>
        <small>In case your upload was already published elsewhere, please use the date of the first publication.</small>
        <div class="invalid-feedback">
            Please fill out the publication date for your project.
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" required {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Tags">{{ metadata_label_tags | default("Tags") | safe }}</label>
        <input type="text" class="form-control" name="tags" value="{{data.metadata.tags}}" placeholder="{{ metadata_placeholder_tags | default('Tags of the project') | safe }}" disabled >
        <small>{{ metadata_small_project | default("Please fill out the tags for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_tags | default("Please fill out the tags for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Categories">{{ metadata_label_categories | default("Categories") | safe }}</label>
        <input type="text" class="form-control" name="categories" value="{{data.metadata.categories}}" placeholder="{{ metadata_placeholder_categories | default('Categories of the project') | safe }}" disabled >
        <small>{{ metadata_small_categories | default("Please fill out the categories for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_categories | default("Please fill out the categories for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="License">{{ metadata_label_license | default("License") | safe}}</label>
        <input type="text" class="form-control" name="license" value="{{data.metadata.license}}" placeholder="{{ metatdata_placeholder_license | default('License of the project') | safe }}" disabled >
        <small>{{ metadata_small_license | default("Please fill out the license for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_license | default("Please fill out the license for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Publisher">{{ metadata_label_publisher | default("Publisher") | safe }}</label>
        <input type="text" class="form-control" name="publisher" value="{{data.metadata.publisher}}" placeholder="{{ metadata_placeholder_publisher | default('Publisher of the project') | safe }}" required {% if disabled %} disabled {% endif %} >
        <div class="invalid-feedback">
            {{ metadata_feedback_publisher | default("Please fill out the publisher for your project.") | safe }}
        </div>
    </div>
</div>

{% elif data.repo == 'data4tu' %}
<p>{{ metadata_greyed_out | default("The greyed-out fields cannot be filled out here. Instead, default values will be sent. You can change these field values in the service portal.") | safe }}</p>
<p>{{ metadata_customized | default("These are customized <b>required</b> metadata fields for") | safe }} <b>4TU.ResearchData</b>.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Author">{{ metadata_label_author | default("Author") | safe }}</label>
        <input type="text" class="form-control" name="author" value="" placeholder="{{ metadata_placeholder_author | default('Author of the project') | safe }}" disabled>
        <small>{{ metadata_small_portal_author | default("Please fill out the author for your project in the repo's portal.") |safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_author | default("Please fill out the author for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Affiliation">{{ metadata_label_affiliation | default("Affiliation") | safe }}</label>
        <input type="text" class="form-control" name="affiliation" value="" placeholder="{{ metadata_placeholder_affiliation | default('Affiliation of the project') | safe }}" disabled>
        <small>{{ metadata_small_portal_author | default("Please fill out the affiliation for your project in the repo's portal.") | safe }}</small>
        <small>{{ metadata_small_author | default("The affiliation can be used to formulate the citation, so consider the prominence of the role.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_affiliation | default("Please fill out the affiliation for your project.") | safe }}
        </div>
    </div>   
</div>
<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" required {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Tags">{{ metadata_label_tags | default("Tags") | safe }}</label>
        <input type="text" class="form-control" name="tags" value="{{data.metadata.tags}}" placeholder="{{ metadata_placeholder_tags | default('Tags of the project') | safe }}" disabled>
        <small>{{ metadata_small_project | default("Please fill out the tags for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_tags | default("Please fill out the tags for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Categories">{{ metadata_label_categories | default("Categories") | safe }}</label>
        <input type="text" class="form-control" name="categories" value="{{data.metadata.categories}}" placeholder="{{ metadata_placeholder_categories | default('Categories of the project') | safe }}" disabled>
        <small>{{ metadata_small_categories | default("Please fill out the categories for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_categories | default("Please fill out the categories for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="License">{{ metadata_label_license | default("License") | safe}}</label>
        <input type="text" class="form-control" name="license" value="{{data.metadata.license}}" placeholder="{{ metatdata_placeholder_license | default('License of the project') | safe }}" disabled>
        <small>{{ metadata_small_license | default("Please fill out the license for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_license | default("Please fill out the license for your project.") | safe }}
        </div>
    </div>
</div>

{% elif data.repo == 'figshare' %}
<p>{{ metadata_greyed_out | default("The greyed-out fields cannot be filled out here. Instead, default values will be sent. You can change these field values in the service portal.") | safe }}</p>
<p>{{ metadata_customized | default("These are customized <b>required</b> metadata fields for") | safe }} <b>Figshare</b>.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Author">{{ metadata_label_author | default("Author") | safe }}</label>
        <input type="text" class="form-control" name="author" value="" placeholder="{{ metadata_placeholder_author | default('Author of the project') | safe }}" disabled>
        <small>{{ metadata_small_portal_author | default("Please fill out the author for your project in the repo's portal.") |safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_author | default("Please fill out the author for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Affiliation">{{ metadata_label_affiliation | default("Affiliation") | safe }}</label>
        <input type="text" class="form-control" name="affiliation" value="" placeholder="{{ metadata_placeholder_affiliation | default('Affiliation of the project') | safe }}" disabled>
        <small>{{ metadata_small_portal_author | default("Please fill out the affiliation for your project in the repo's portal.") | safe }}</small>
        <small>{{ metadata_small_author | default("The affiliation can be used to formulate the citation, so consider the prominence of the role.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_affiliation | default("Please fill out the affiliation for your project.") | safe }}
        </div>
    </div>   
</div>
<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" required {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Tags">{{ metadata_label_tags | default("Tags") | safe }}</label>
        <input type="text" class="form-control" name="tags" value="{{data.metadata.tags}}" placeholder="{{ metadata_placeholder_tags | default('Tags of the project') | safe }}" disabled>
        <small>{{ metadata_small_project | default("Please fill out the tags for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_tags | default("Please fill out the tags for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Categories">{{ metadata_label_categories | default("Categories") | safe }}</label>
        <input type="text" class="form-control" name="categories" value="{{data.metadata.categories}}" placeholder="{{ metadata_placeholder_categories | default('Categories of the project') | safe }}" disabled>
        <small>{{ metadata_small_categories | default("Please fill out the categories for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_categories | default("Please fill out the categories for your project.") | safe }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="License">{{ metadata_label_license | default("License") | safe}}</label>
        <input type="text" class="form-control" name="license" value="{{data.metadata.license}}" placeholder="{{ metatdata_placeholder_license | default('License of the project') | safe }}" disabled>
        <small>{{ metadata_small_license | default("Please fill out the license for your project in the repo's portal.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_license | default("Please fill out the license for your project.") | safe }}
        </div>
    </div>
</div>


{% elif data.repo == 'sharekit' %}
<p>{{ metadata_greyed_out | default("The greyed-out fields cannot be filled out here. Instead, default values will be sent. You can change these field values in the service portal.") | safe }}</p>
<p>{{ metadata_basic_fields | default("These are basic metadata fields for") | safe }} <b>Sharekit</b>.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>

{% elif data.repo == 'surfs3' %}
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <h3>S3 Archive</h3>
        <p>Fill out the information for the S3 archive.</p>
        <label for="s3archivename">S3 Archive Name</label>
        <input type="text" class="form-control" name="s3archivename" value="{{data.metadata.s3archivename}}" placeholder="Name of the S3 archive name" required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            Please fill out the name for your archive.
        </div>
    </div>
</div>

{% else %}
<p>{{ metadata_greyed_out | default("The greyed-out fields cannot be filled out here. Instead, default values will be sent. You can change these field values in the service portal.") | safe }}</p>
<p>These are general fields. Fields specificly for <b>{{data.repo}}</b> still need to be implemented. Most of below fields will still work. So go ahead and fill some out.</p>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Title">{{ metadata_label_title | default("Title") | safe }}</label>
        <input type="text" class="form-control" name="title" value="{{data.metadata.title}}" placeholder='{{ metadata_placeholder_title | default("Title of the project") | safe }}' required {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_title | default("Please fill out the title for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Author">{{ metadata_label_author | default("Author") | safe }}</label>
        <input type="text" class="form-control" name="author" value="{{data.metadata.author}}" placeholder="{{ metadata_placeholder_author | default('Author of the project') | safe }}" {% if disabled %} disabled {% endif %}>
        <div class="invalid-feedback">
            {{ metadata_feedback_author | default("Please fill out the author for your project.") | safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Affiliation">{{ metadata_label_affiliation | default("Affiliation") | safe }}</label>
        <input type="text" class="form-control" name="affiliation" value="{{data.metadata.affiliation}}" placeholder="{{ metadata_placeholder_affiliation | default('Affiliation of the project') | safe }}" {% if disabled %} disabled {% endif %}>
        <small>{{ metadata_small_author | default("The affiliation can be used to formulate the citation, so consider the prominence of the role.") | safe }}</small>
        <div class="invalid-feedback">
            {{ metadata_feedback_affiliation | default("Please fill out the affiliation for your project.") | safe }}
        </div>
    </div>
    <div class="form-group col-6 mt-3 mb-3">
        <label for="Publication date">Publication date</label>
        <input type="date" class="form-control" name="publication_date" value="{{data.metadata.publication_date}}" placeholder="Publication date of the project" {% if disabled %} disabled {% endif %}>
        <small>In case your upload was already published elsewhere, please use the date of the first publication.</small>
        <div class="invalid-feedback">
            Please fill out the publication date for your project.
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-12 mt-3 mb-3">
        <label for="Description">{{ metadata_label_description | default("Description") | safe }}</label>
        <textarea class="form-control" name="description" value="{{data.metadata.description}}" placeholder="{{ metadata_placeholder_description | default('Description of the project') | safe }}" {% if disabled %} disabled {% endif %} >{{data.metadata.description}}</textarea>
        <div class="invalid-feedback">
            {{ metadata_feedback_description | default("Please fill out the description for your project.") | safe }}
        </div>
    </div>
</div>
{% endif %}