{% extends "base.html" %}

{% from "macros.html" import load_async with context %}

{% block title %}Download{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}

<!-- ### BEGIN HELPER LOGIC ### -->
{% if data.connected==True %}
    {% if data.query_status==None or data.query_status=='ready' %}
        {% set vars = {'folder_exists_message' : False, 'url_exists_message' : False} %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message=='Data folder already exists on your drive. Please check the box if you want to use this folder.' %}
                        {% if vars.update({'folder_exists_message': True}) %} {% endif%}
                    {% endif %}
                    {% if message=='Data has already been downloaded from this url. Please check the box if you want to download again from this url.' %}
                        {% if vars.update({'url_exists_message': True}) %} {% endif%}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}
{% endif %}
<!-- END BEGIN HELPER LOGIC ### -->

{% if not preview %}
    <h1>Download Open Data</h1>
    <p>Download open data to your Research Drive using <a href="https://j535d165.github.io/datahugger/" target="new">Datahugger</a>.</p>
    <p>Datahugger is used in the background to try and retrieve metadata and to download the data. If you encounter any issues with retrieving metadata or the data itself, then please consider providing feedback about this to the Datahugger project.</p>
{% endif %}

{% if data.connected==True %}
    {% if data.query_status==None or data.query_status=='ready' %}
    
        <!-- ### BEGIN FORM ### -->
        
        <form method="post" action="/retrieve" class="needs-validation mt-3 mb-3" novalidate >
            <div {% if preview %} hidden {% endif %}>
                <div class="form-group mt-3 mb-3">
                    <label for="Url">Url:</label>
                    <input type="url" pattern="https://.*" class="form-control" name="url" value="{{data.url}}" placeholder="https://doi.org/10.5281/example.8026179" required>
                    <div class="invalid-feedback">
                        Please fill out a doi.org url to a public research dataset or a preview url to a private dataset.
                    </div>
                </div>

                {% if (vars.url_exists_message==True or data.accept_url_in_history==True) and check_accept_url_in_history_first!=None %}
                <div class="form-check mt-3 mb-3">
                    <input class="form-check-input" type="checkbox" value="" {% if data.accept_url_in_history %} checked {% endif %} id="flexCheckUrl" name="accept_url_in_history" required>
                    <label class="form-check-label" for="flexCheckUrl">
                    Check this to retrieve even if this url is in your history of downloads.
                    </label>
                </div>
                {% endif %}
                <div class="form-group mt-3 mb-3">
                    <label for="Folder">Data Folder Path: </label>
                    
                    <!-- async loading folder paths -->
                    {{ load_async("folderpaths", "/folder-paths", 55000) }}
                    <!-- end async -->

                    <input type="text" class="form-control" name="folder" value="{{data.folder}}" placeholder="New Folder (optional)" pattern="[\--_-A-Za-z0-9]+" >
                    <div class="invalid-feedback">
                        Please fill out the folder name where you want store the data.
                    </div>
                </div>
                
                {% if (vars.folder_exists_message==True or data.accept_folder_exist==True) and check_accept_folder_first!=None %}
                <div class="form-check mt-3 mb-3">
                    <input class="form-check-input" type="checkbox" value="" {% if data.accept_folder_exist %} checked {% endif %} id="flexCheckFolder" name="accept_folder_exist" required>
                    <label class="form-check-label" for="flexCheckFolder">
                    Check this to retrieve even if this folder already exists on your drive. The data will be added to the folder.
                    </label>
                </div>
                {% endif %}
            </div>
            {% if not preview %}

                <!-- ### BEGIN PREVIEW BUTTON -->
                <p><button type="submit" class="btn btn-secondary">Preview Download</button></p>
                <p><a href="/download"><small>I want to download a private dataset.</small></a></p>
                <!-- ### END PREVIEW BUTTON -->

            {% else %}

                <!-- ### BEGIN PREVIEW ### -->
                <h1>Download Open Data - Preview</h1>
                
                <h2>Drive Storage</h2>
                <!-- async loading quote_text -->
                {{ load_async("quota_text", "/quota-text") }}
                <!-- end async -->
                
                <h2>Data Folder</h2>
                <!-- async loading folder content -->
                {{ load_async("foldercontent", "/folder-content/down", 55000) }}
                <!-- end async -->

                <h2>Data Set</h2>

                <!-- async loading metadata -->
                {{ load_async("doi_metadata", "/doi-metadata") }}
                <!-- end async -->

                <!-- async loading repocontent -->
                {{ load_async("repocontent", "/repocontent") }}
                <!-- end async -->

                <!-- ### END PREVIEW ### -->
                <p></p>
                <p>This is what is able to be retrieved using the <a href="https://j535d165.github.io/datahugger/" target="new">Datahugger</a> project.</p>
                <p>You can also try to <a href="/download">download</a> using a repository service you are <a href="/connect">connected</a> to.</p>
                {% endif %}
            </form>
        <!-- ### END FORM ### -->

    {% else %}
    
        <form action="/cancel_retrieval" method="post">
            <input type="text" name="cancel" value="true" hidden>
            <input type="text" name="preview" value={{preview}} hidden>
            <input type="text" name="check_accept_folder_first" value={{check_accept_folder_first}} hidden>
            <input type="text" name="check_accept_url_in_history_first" value={{check_accept_url_in_history_first}} hidden>
            <button type="submit" class="btn btn-secondary">Cancel Process</button>
            <div class="form-check mt-3 mb-3">
                <input class="form-check-input" id="flexCheckCancel" type="checkbox" value="" name="checked" required>
                <label class="form-check-label" for="flexCheckCancel">
                    Check to confirm cancelation.
                </label>
            </div>
        </form>

        <!-- ### BEGIN STATUS TABLE ### -->
        <div id="status">
            <div class="position-absolute top-50 start-50 translate-middle" style="width: 100%; height: 100%; overflow: hidden;">
                <div class="spinner-border position-absolute top-50 start-50 translate-middle" role="status">
                    <span class="visually-hidden">Connecting...</span>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                setInterval(() => {
                    $("#status").load("/status");
                }, 2000);
            });
        </script>
        <!-- ### END STATUS TABLE ### -->

    {% endif %}

{% else %}

    <!-- BEGIN NOT CONNECTED -->
    <p>Please connect first.</p>
    <a href="/connect"><button class="btn btn-secondary">Connect</button></a>
    <!-- END NOT CONNECTED -->

{% endif %}

{% endblock %}

{% block script %}
    <script>
        form_validate();
    </script>
{% endblock %}