<select name="folder_path" class="form-select" required>
    <option></option>
    {% for folder_path in folder_paths %}
        {% if folder_path == data.folder_path %}
        <option value="{{folder_path}}" selected='selected' >{{ folder_path }}</option>
        {% else %}
            <option value="{{folder_path}}">{{ folder_path }}</option>
        {% endif %}
    {% endfor %}
</select>
<p><small><a href="/refresh">Refresh</a> all data folder paths.</small></p>
<div class="invalid-feedback">
    Please select a folder path!
</div>