{% from "macros.html" import load_async with context %}
<div class="row">
    <div class="col-4">
        <p>{{ select_folder_path_filter | default("Filter the Data Folder Paths (optional):") | safe }}</p>
        <input class="form-control" id="myInput" type="text" placeholder='{{ select_folder_path_placeholder | default("Type to filter the paths in the dropdown list.") | safe }}'>
    </div>
    <div class="col-12">
        <p>{{ select_folder_path_select | default("Select the Data Folder Path:") | safe }}</p>
        <select name="folder_path" class="form-select" id="myList" required>
            <option></option>
            {% for folder_path in folder_paths %}
                {% if folder_path == session.folder_path %}
                <option title="{{folder_path}}" value="{{folder_path}}" selected='selected'>{% if folder_path | length > 150 %}...{% endif %}{{ folder_path[-150:] }}</option>
                {% else %}
                    <option title="{{folder_path}}" value="{{folder_path}}">{% if folder_path | length > 150 %}...{% endif %}{{ folder_path[-150:] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>        
</div>
<p><small>{{ connect_refresh |default("<a href='/refresh'>Refresh</a> all data folder paths.") | safe }}</small></p>
<div class="invalid-feedback">
    {{ select_folder_path_please_select | default("Please select a folder path!") | safe }}
</div>
{% if direction == 'up' %}
<input type="checkbox" id="select-folders-files">
<label class="form-check-label" for="select-folders-files">
    {{ select_folder_path_select_files | default("Select files (optional)") | safe }}
</label>
<div id="folder-content"></div>


<div id="metavox"/>
<script>
      $( document ).ready(function() {
          let folder = $("#myList").val()
          let url = '/metavox?folder=' + encodeURIComponent(folder)
          $("#metavox").load( url );
      });
    $("#myList").on("change",function(){
          let folder = $("#myList").val()
          let url = '/metavox?folder=' + encodeURIComponent(folder)
          $("#metavox").load( url );
      });
</script>

<script>
    $("#myList").on("change",function(){
          $("#select-folders-files").prop('checked', false);
          $( "#folder-content" ).html( "" );
      });

    $("#select-folders-files").on("change", function(){
      if(this.checked) {
          var folderpath = $('#myList').find(":selected").val();
          // get the folder path  content and show with selection and send on to the preview and the actual export
          var posting = $.post( "/select-folder-content", { 'complete_folder_path': folderpath } );           
          posting.done( function( data ) {
              $( "#folder-content" ).html( data );
              }); 
      }
      $( "#folder-content" ).toggle( this.checked );
    });
</script>
{% endif %}

<script>
    $(document).ready(function(){
      $("#myInput").on("click",function(){
        var se=$("#myList");
        se.show();
        se[0].size=10;
        });
      $("#myList").on("click",function(){
        var se=$("#myList");
        se.show();
        se[0].size=1;
        });
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myList option").filter(function() {
          $(this).toggle($(this).val().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>