{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

{% if  not data['homestart'] %}

    <!-- BEGIN Get started -->
    <h1>{{ start_h1_get_started | default("Get started") | safe }}</h1>
        <hr />
        <div class="row">
            <div class="col-3">
                <!-- 1 - CONNECT RD -->
                {% if not data.connected %}
                <big><i class="bi bi-1-circle-fill"></i> {{ base_step1 | default("Connect to Research Drive") | safe }}</big>
                <p><a href="/connect">Connect</a> to your research drive.</p>
                {% else %}
                <big><i class="bi bi-1-circle"></i> {{ base_step1 | default("Connect to Research Drive") | safe }} <i class="bi bi-check"></i></big>
                <p>{{ start_connected_to_rd | default("You are connected to Research Drive as") | safe }} <b>{{ data.username }}</b>.</p>
                <p>{{ start_use_datahugger | default("You can import open data using the <b>Datahugger project</b>.") | safe }}</p>
            </div>
            <div class="col-6">
                <!-- 2 - CONNECT REPOS -->
                {% if active_services | length > 0%}
                <big><i class="bi bi-2-circle"></i> {{start_connected_to | default("Connected to private repositories") | safe }}: {{active_services | length}} <i class="bi bi-check"></i></big>
                {% else %}
                <big><i class="bi bi-2-circle-fill"></i> {{ base_step2 | default("Connect to a private repository") | safe }}</big>
                {% endif %}
                <p>
                    {% if active_services | length > 0%}
                    <span>{{ start_conected_repos | default("You are connected to the following repos") | safe }}:</span>
                    <ul>
                        {% for active_service in active_services %}
                        <li><b>{{active_service}}</b></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if inactive_services | length > 0%}
                    <span>{{ start_can_connect | default("You can connect to the following repos") | safe }}:</span>
                    <ul>
                        {% for inactive_service in inactive_services %}
                        <li><b>{{inactive_service}}</b></li>
                        {% endfor %}
                    </ul>
                        {% if active_services | length == 0%}            
                        <a href="/connect"><button class="btn btn-secondary">{{ start_connect | default("Connect to a repository") | safe }}</button></a>
                        <p><small><a href="/start?homestart=True">{{ start_with_datahugger | default("Start import of open data with Datahugger") | safe }}</a></small></p>
                        <!-- <p><small>to be able to import and/or export private data.</small></p> -->
                        {% else %}
                        <a href="/connect">{{ start_connect_another | default("Connect to another repository") |safe }}</a>
                        <!-- <p><small>to be able to import and/or export private data to another repository than currently connected.</small></p> -->
                        {% endif %}
                    {% endif %}
                </p>
                {% endif %}
            </div>
            <div class="col-3">
                <!-- 3 - Start import or export -->
                {% if data.connected and active_services | length > 0 %}
                <big><i class="bi bi-3-circle-fill"></i> {{ base_step3 | default("Start an import or export") | safe }}</big>
                {% else %}
                <big><i class="bi bi-3-circle"></i> {{ base_step3 | default("Start an import or export") | safe }}</big>
                <p><small><a href="/start?homestart=True">{{ start_with_datahugger | default("Start import of open data with Datahugger") | safe }}</a></small></p>
                {% endif %}

                <!-- ### BEGIN START BUTTON -->
                {% if data.connected and active_services | length > 0 %}
                <form method="post" action="/start" class="needs-validation mt-3 mb-3" novalidate >
                    <input type="text" name="homestart" value="true" hidden>
                    <button type="submit" class="btn btn-secondary">Start import/export</button>
                </form>
                {% endif %}
                <!-- ### END START BUTTON -->
            </div>
        </div>
    <!-- END Get started -->

{% else %}

        {% if data.process == None or 'process' not in data %}
            {% if active_services | length > 0%}
            <h1>Import/Export</h1>
            {% else %}
            <h1>{{ start_h1_import | default("Import open data") | safe }}</h1>
            <div>{{ start_open_data | default("You can only start an <b>Import of open data</b>. <a href='/connect'>Connect to other repositories</a> if you would like to import from or export to private repositories.") | safe }}</div>
            {% endif %}
            {% if 'projectname' not in data or data.projectname == None %}
            
            {% if active_services | length > 0%}
            <div>{{ start_reference1 | default("Set a reference for your import/export (optional).") | safe }}</div>
            {% else%}
            <div>{{ start_reference2 | default("Set a reference for your import (optional).") | safe }}</div>
            {% endif %}
            
            <form method="post" class="needs-validation mt-3 mb-3" action="/start">
                <div class=" col-5 form-group mt-3 mb-3">
                    <input type="text" name="projectname" value="{{data.projectname}}" placeholder='{{ start_reference3 | default("Set a reference else one will be created.") | safe }}' class="form-control">
                </div>
                {% if active_services | length > 0%}
                <div>{{ start_select | default("Select if you want to start an <b>Import</b> or an <b>Export</b>.") | safe }}</div>
                <div class=" col-3 form-group mt-3 mb-3">
                    <select class="form-select" name="importexport" id="importexport" required>
                        <option value="startimport">Import</option>
                        <option value="startexport">Export</option>
                    </select>
                </div>
                {% else %}
                <div class=" col-3 form-group mt-3 mb-3">
                    <select class="form-select" name="importexport" id="importexport" required hidden>
                        <option value="startimport">Import</option>
                    </select>
                </div>
                {% endif %}
                <div class="form-group mt-3 mb-3">
                    <button type="submit" class="btn btn-secondary">Start</button>
                </div>
            </form>
            {% else %}
            <div>{{ start_reference4 | default("You have set / been assigned the following reference") | safe }}: <b>{{data.projectname}}</b>.</div>
            <form method="post" class="mt-3 mb-3" action="/start">
                <div class=" col-3 form-group mt-3 mb-3">
                    <input type="text" name="clearprojectname" value="" class="form-control" hidden>
                </div>
                <div class="form-group mt-3 mb-3">
                    <button type="submit" class="btn btn-secondary">{{ start_clear_ref | default("Clear import/export reference") | safe }}</button>
                </div>
            </form>
            {% endif %}

            {% if 'projectname' in data %}
            <form method="post" class="needs-validation mt-3 mb-3" action="/start">
                <div class=" col-3 form-group mt-3 mb-3">
                    <input type="text" name="projectname" value="{{data.projectname}}" class="form-control" required hidden>
                </div>
                {% if active_services | length > 0%}
                <div>{{ start_select | default("Select if you want to start an <b>Import</b> or an <b>Export</b>.") | safe }}</div>
                <div class=" col-3 form-group mt-3 mb-3">
                    <select class="form-select" name="importexport" id="importexport" required>
                        <option value="startimport">Import</option>
                        <option value="startexport">Export</option>
                    </select>
                </div>
                {% else %}
                <div class=" col-3 form-group mt-3 mb-3">
                    <select class="form-select" name="importexport" id="importexport" required hidden>
                        <option value="startimport">Import</option>
                    </select>
                </div>
                {% endif %}
                <div class="form-group mt-3 mb-3">
                    <button type="submit" class="btn btn-secondary">Start</button>
                </div>
            </form>
            {% endif %}
            {% if  data['homestart'] %}
                <small><a href="/start?homeshow=true" type="submit" >{{ start_get_started_page | default("Go to the get started page") | safe }}</a></small>
            {% endif %}

        {% endif %}

    {%if data.process == 'import' %}
        <h1>{{ start_h1_processing_import | default("Processing import") | safe }}</h1>
        <p>{{ start_project_name | default("Project name") | safe }}: <b>{{ data.projectname }}</b></p>
        <p>{{ start_import_running | default("There is an import process running.") | safe }}</p>
        <a href="/download"><button class="btn btn-secondary">{{ start_check_import | default("Check import status") | safe }}</button></a>
        <script>
            window.location.href = "/download";
        </script>
    {% endif %}

    {%if data.process == 'export' %}
        <h1>{{ start_h1_processing_export | default("Processing export") | safe }}</h1>
        <p>{{ start_project_name | default("Project name") | safe }}: <b>{{ data.projectname }}</b></p>
        <p>{{ start_export_running | default("There is an export process running.") | safe }}</p>
        <a href="/upload"><button class="btn btn-secondary">{{ start_check_export | default("Check export status") | safe }}</button></a>
        <script>
            window.location.href = "/upload";
        </script>
    {% endif %}

{% endif %}

{% endblock %}

{% block script %}
<script>
    form_validate();
</script>
{% endblock %}