{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Combined Stats</h1>

{% if session.connected==True %}
<p>Below are general usage stats of all SRDC instances measured by analyzing the status logs for all imports and exports.</p>

<table class="table table-striped table-hover table-sm table-bordered table-responsive-sm">
    <thead class="table-light">
        <tr>
        <th class="col-1">#</th>
        <th class="col-5">The following SRDC instances are included (client name)</th>
        <th class="col-6">The following SRDC instances are included (url)</th>
        </tr>
    </thead>
    <tbody>
        {% set clients = [] %}
        {% for client in data.srdc_clients %}
        <span hidden>{{ clients.append(client) }}</span>
        <tr>
            <td>{{ clients | length }}</td>
            <td>{{ client }}</td>
            <td>http://srdc-{{client}}-rd-app.data.surf.nl</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{{ stats_users | default("Users") | safe }}</h2>
<p>{{ stats_users_description | default("Below table shows how many overall users there  where combined and how many performed at least one import or at least one export.") | safe }}</p>
<table class="table table-striped table-hover table-sm table-bordered table-responsive-sm">
    <thead class="table-light">
        <tr>
        <th scope="col">{{ stats_users_table_count_type | default("User count type") | safe }}</th>
        <th scope="col">{{ stats_users_table_count | default("Count") | safe }}</th>
        </tr>
    </thead>
    <tbody>
        {% for key in data.users_action.keys() %}
        <tr>
            <td>{{key}}</td>
            <td>{{data.users_action[key]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{{ stats_files_processed | default("Files processed") | safe }}</h2>
<p>{{ stats_files_processed | default("Files processed") | safe }}: {{data.files_processed}}</p>
<p>{{ stats_files_processed_failed | default("Files failed to process") | safe }}: {{data.failures}}</p>

<h2>{{ stats_total_impex | default("Total imports and exports") | safe }}</h2>
<p>{{ stats_total_impex | default("Total imports and exports") | safe }}: {{data.total_impex}}</p>

<h2>{{ stats_h2_imports | default("Imports") | safe }}</h2>
<p>{{ stats_total_imports | default("Total amount of imports") | safe }}: {{data.total_import}}</p>

<h3>{{ stats_h3_imports | default("Imports per repository") | safe }}</h3>
<table class="table table-striped table-hover table-sm table-bordered table-responsive-sm">
    <thead class="table-light">
        <tr>
        <th scope="col">{{ stats_table_imports_repo | default("Repo") | safe }}</th>
        <th scope="col">{{ stats_table_imports_count | default("Count") | safe }}</th>
        </tr>
    </thead>
    <tbody>
        {% for key in data.imports_repo.keys() %}
        <tr>
            <td>{{key}}</td>
            <td>{{data.imports_repo[key]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{{ stats_h2_exports | default("Exports") | safe }}</h2>
<p>{{ stats_total_exports | default("Total amount of exports") | safe }}: {{data.total_export}}</p>

<h3>{{ stats_h3_exports | default("Exports per repository") | safe }}</h3>
<table class="table table-striped table-hover table-sm table-bordered table-responsive-sm">
    <thead class="table-light">
        <tr>
        <th scope="col">{{ stats_table_exports_repo | default("Repo") | safe }}</th>
        <th scope="col">{{ stats_table_exports_total | default("Total") | safe }}</th>
        </tr>
    </thead>
    <tbody>
        {% for key in data.exports_repo.keys() %}
        <tr>
            <td>{{key}}</td>
            <td>{{data.exports_repo[key]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- ##################################### -->
{% for client in data.instance_results %}
<hr>
<h1>Stats for: {{ client | capitalize }}</h1>
<p>{{ stats_description | default("Below are general usage stats of this SRDC instance measured by analyzing the status logs for all imports and exports.") | safe }}</p>
<h2>{{ stats_users | default("Users") | safe }}</h2>
<p>{{ stats_users_description | default("Below table shows how many overall users there  where combined and how many performed at least one import or at least one export.") | safe }}</p>
<table class="table table-striped table-hover table-sm table-bordered table-responsive-sm">
    <thead class="table-light">
        <tr>
        <th scope="col">{{ stats_users_table_count_type | default("User count type") | safe }}</th>
        <th scope="col">{{ stats_users_table_count | default("Count") | safe }}</th>
        </tr>
    </thead>
    <tbody>
        {% for key in data.instance_results[client].users_action.keys() %}
        <tr>
            <td>{{key}}</td>
            <td>{{data.instance_results[client].users_action[key]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{{ stats_files_processed | default("Files processed") | safe }}</h2>
<p>{{ stats_files_processed | default("Files processed") | safe }}: {{data.instance_results[client].files_processed}}</p>
<p>{{ stats_files_processed_failed | default("Files failed to process") | safe }}: {{data.instance_results[client].failures}}</p>

<h2>{{ stats_total_impex | default("Total imports and exports") | safe }}</h2>
<p>{{ stats_total_impex | default("Total imports and exports") | safe }}: {{data.instance_results[client].total_impex}}</p>
<figure>
    <img src="http://srdc-{{client}}-rd-app.data.surf.nl/static/img/mainstats.png" alt="Chart of the usage of the SRDC">
    <figcaption>Usage for: {{ client }}</figcaption>
</figure>


<h2>{{ stats_h2_imports | default("Imports") | safe }}</h2>
<p>{{ stats_total_imports | default("Total amount of imports") | safe }}: {{data.instance_results[client].total_import}}</p>
<figure>
    <img src="http://srdc-{{client}}-rd-app.data.surf.nl/static/img/importstats.png" alt="Chart of the import by the SRDC">
    <figcaption>Imports for: {{ client }}</figcaption>
</figure>

<h3>{{ stats_h3_imports | default("Imports per repository") | safe }}</h3>
<table class="table table-striped table-hover table-sm table-bordered table-responsive-sm">
    <thead class="table-light">
        <tr>
        <th scope="col">{{ stats_table_imports_repo | default("Repo") | safe }}</th>
        <th scope="col">{{ stats_table_imports_count | default("Count") | safe }}</th>
        </tr>
    </thead>
    <tbody>
        {% for key in data.instance_results[client].imports_repo.keys() %}
        <tr>
            <td>{{key}}</td>
            <td>{{data.instance_results[client].imports_repo[key]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{{ stats_h2_exports | default("Exports") | safe }}</h2>
<p>{{ stats_total_exports | default("Total amount of exports") | safe }}: {{data.instance_results[client].total_export}}</p>
<figure>
    <img src="http://srdc-{{client}}-rd-app.data.surf.nl/static/img/exportstats.png" alt="Chart of the export by the SRDC">
    <figcaption>Exports for: {{ client }}</figcaption>
</figure>


<h3>{{ stats_h3_exports | default("Exports per repository") | safe }}</h3>
<table class="table table-striped table-hover table-sm table-bordered table-responsive-sm">
    <thead class="table-light">
        <tr>
        <th scope="col">{{ stats_table_exports_repo | default("Repo") | safe }}</th>
        <th scope="col">{{ stats_table_exports_total | default("Total") | safe }}</th>
        </tr>
    </thead>
    <tbody>
        {% for key in data.instance_results[client].exports_repo.keys() %}
        <tr>
            <td>{{key}}</td>
            <td>{{data.instance_results[client].exports_repo[key]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
<!-- ##################################### -->

{% else %}

<p>{{ upload_connect_first | default("Please connect first.") | safe }}</p>
<a href="/connect"><button class="btn btn-secondary">{{ upload_connect | default("Connect") | safe }}</button></a>

{% endif %}
{% endblock %}

{% block script %}
{% endblock %}