{% extends "base.html" %}

{% from "macros.html" import load_async with context %}

{% block title %}Export{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

{% if not preview %}

{% if session.query_status==None or session.query_status=='ready' and session.process==None%}
<h1>Export</h1>
<p>{{ upload_intro | default("Export data from your Research Drive to your connected repositories. Your data is always only exported and never published. You can review your data on the repository platform and then decide to publish from within that platform.") | safe }}</p>
{% else %}

<h1>{{ upload_h1_export | default("Processing export") | safe }}</h1>
{% endif %}
<p>{{ upload_reference | default("Export reference") | safe }}: <b>{{ session.projectname }}</b></p>
{% endif %}

{% if session.connected==True %}
    {% if session.query_status==None or session.query_status=='ready' and session.process==None %}
        <form method="post" action="/upload" class="needs-validation mt-3 mb-3" novalidate >
            <div {% if preview %} hidden {% endif %}>
                <!-- async loading repo selection -->
                {{ load_async("repo_selection", "/repo-selection") }}
                <!-- end async -->
                {% if not preview %}
                <div id="show_dataverses"></div>
                <div class="form-group mt-3 mb-3">
                    <h2>{{ upload_h2_export | default("Export Data Folder Path") | safe }}</h2>
                    <!-- async loading folder paths -->
                    {{ load_async("folderpaths", "/folder-paths/up", 55000) }}
                    <!-- end async -->
                </div>
                {% else %}
                <!-- load in the selected folder to a form. no need to get all the folderpaths again -->
                <select name="folder_path" class="form-select" required >
                        <option value="{{session.folder_path}}" selected='selected' >{{ session.folder_path }}</option>
                </select>
                {% endif %}
                
                
                <div id="show_meta">{{ upload_select | default("Please select a repository.") | safe }}</div>
                
            </div>
            {% if not preview %}

                <!-- ### BEGIN PREVIEW BUTTON -->
                <input type="text" name="preview" value="true" hidden>
                <button type="submit" id="action-button" class="btn btn-secondary">{{ upload_preview | default("Preview Export") | safe }}</button>
                <!-- ### END PREVIEW BUTTON -->

            {% else %}

                <!-- ### BEGIN PREVIEW ### -->
                <h1>{{ upload_h1_preview | default("Export - Preview") | safe }}</h1>
                <p>{{ upload_reference | default("Export reference") | safe }}: <b>{{ session.projectname }}</b></p>
                
                <h2>{{ upload_h2_repository | default("Repository") | safe }}</h2>
                <!-- async loading check connection -->
                {% set checkconnectionurl = '/check-connection/' + session.repo %}
                {{ load_async("check_connection", checkconnectionurl) }}
                <!-- end async -->

                {% if session.repo == 'dataverse' %}
                <div>{{ upload_dataverse | default("Exporting to dataverse") | safe }}: {{session.dataverse.title}}</div>
                {% endif %}
                
                
                <h2>{{ upload_h2_data_folder | default("Data Folder to export") | safe }}</h2>
                <!-- async loading folder content -->
                {{ load_async("foldercontent", "/folder-content/up", 55000) }}
                <!-- end async -->
                {{session.selected_folder_content}}
                
                <!-- async loading metadata -->
                {% if session.repo=='figshare' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=figshare") }}
                {% endif %}
                {% if session.repo=='data4tu' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=data4tu") }}
                {% endif %}
                {% if session.repo=='zenodo' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=zenodo") }}
                {% endif %}
                {% if session.repo=='osf' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=osf") }}
                {% endif%}
                {% if session.repo=='dataverse' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=dataverse", 30000) }}
                {% endif%}
                {% if session.repo=='datastation' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=datastation", 30000) }}
                {% endif%}
                {% if session.repo=='irods' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=irods") }}
                {% endif%}
                {% if session.repo=='sharekit' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=sharekit") }}
                {% endif%}
                {% if session.repo=='surfs3' %}
                {{ load_async("metadata_disabled", "/metadata?disabled=true&repo=surfs3") }}
                {% endif%}
                <!-- end async --> 

                <!-- ### END PREVIEW ### -->

                <a href="/upload" class="btn btn-secondary">{{ upload_back | default("Back") | safe}}</a>
                <button type="submit" id="action-button" class="btn btn-secondary">{{ upload_start | default("Start Export") | safe }}</button>
                {% if session.repo !='dataverse' and session.repo!='datastation' %}
                <div class="form-check mt-3 mb-3">
                    <input class="form-check-input" type="checkbox" id="flexUploadZip" value="" name="use_zip">
                    <label class="form-check-label" for="flexUploadZip">
                        {{ upload_check_zip | default("Check to export all files as 1 zipfile.") | safe }}
                    </label>
                </div>
                {% endif %}
                <div class="form-check mt-3 mb-3">
                    <input class="form-check-input" type="checkbox" id="flexCheckGenerate" value="" name="generate_metadata">
                    <label class="form-check-label" for="flexCheckGenerate">
                        {{ upload_check_metadata | default("Check to generate a metadata file at generated/ro-crate.json (optional).") | safe }}
                    </label>
                </div> 
                <div class="form-check mt-3 mb-3">
                    <input class="form-check-input" type="checkbox" id="flexCheckUpload" value="" name="start_upload" required>
                    <label class="form-check-label" for="flexCheckUpload">
                        {{ upload_check_start | default("Check to confirm start of export.") | safe }}
                    </label>
                    <div class="invalid-feedback">
                        {{ upload_check_confirm | default("Please check this box to confirm export!") | safe }}
                    </div>
                </div> 
            {% endif %}
        </form>
    {% else %}

        <form id="cancel_process" action="/cancel_upload" method="post">
            <input type="text" name="cancel" value="true" hidden>
            <input type="text" name="preview" value={{preview}} hidden>
            <button type="submit" class="btn btn-secondary">{{ upload_cancel | default("Cancel Process") | safe }}</button>
            <div class="form-check mt-3 mb-3">
                <input class="form-check-input" id="flexCheckCancel" type="checkbox" value="" name="checked" required>
                <label class="form-check-label" for="flexCheckCancel">
                    {{ upload_check_cancel | default("Check to confirm cancelation.") | safe }}
                </label>
            </div>
        </form>

        <!-- ### BEGIN STATUS TABLE ### -->
        <div id="status">
            <div class="position-absolute top-50 start-50 translate-middle" style="width: 100%; height: 100%; overflow: hidden;">
                <div class="spinner-border position-absolute top-50 start-50 translate-middle" role="status">
                    <span class="visually-hidden">Connecting...</span>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                setInterval(() => {
                    $("#status").load("/status");
                }, 2000);
            });
        </script>
        <!-- ### END STATUS TABLE ### -->
    
        {% endif %}
{% else %}

    <!-- BEGIN NOT CONNECTED -->
    <p>{{ upload_connect_first | default("Please connect first.") | safe }}</p>
    <a href="/connect"><button class="btn btn-secondary">{{ upload_connect | default("Connect") | safe }}</button></a>
    <!-- END NOT CONNECTED -->

{% endif %}

{% endblock %}

{% block script %}
<script>
    form_validate();
</script>


{% if preview %}
<script>
    $(document).ready(function () {
        $("#show_meta").remove();
    });
</script>
{% endif %}

{% endblock %}